body{
	width:100%;
	overflow:hidden;
	text-align:center;
	background-color:#62CCBF !important;
}

.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
}

.page-1-1{ background-color:#62CCBF;}

.searchBox{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 13%;
	padding-left: 10%;
	padding-right:10%;
}
.searchArea{ /*table*/
	display:inline-block;
	background-color: #B1E6DF;
	border-radius: 5px;
	vertical-align: middle;
	text-align: left;
	width: 70%;
	overflow: hidden;
}
.searchArea tr{
	text-align: center;
}
.searchInput{ /*搜索输入框*/
	width: 75%;
	height: 30px;
	background-color: #95DDD4;
	border: 0;
	padding-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	color: white;
	margin-left: 2px;
	text-align: center;
}
.searchReset{ /*重设按钮*/
	vertical-align: bottom;
	height: auto;
	width: 10%;
	margin-bottom: 6px;
}
#submit{
	width: 16%;
	font-size: 22px;
}
.from{
	color:white;
	padding-left: 5px;
	margin-left: 2px;
}
.school{
	color: white;
}
.schoolselected{
	background-color: #95DDD4;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFF;
    text-align: center;
}



.songlist{ /*div*/
	position: relative;
	height: 72%;
	width: 100%;
	margin-left: -25%;
	float: right;
	margin-bottom: 2%;
}
.headimglist{ /*div*/
	position: relative;
	height: 72%;
	width: 25%;
	float: left;
	overflow: hidden;
	text-align: right !important;
	margin-bottom: 2%;
}
.songimg{ /*歌单图片*/
	height: 100%;
	overflow: hidden;
}
.loadingImg{
	position: absolute;
	top: 40%;
	left: 40%;
	height: auto;
	width: 20%;
	padding-right: 40%;
}


.headimglist table{
	vertical-align: middle;
	height: 101%;
	margin-top: 1%;
	margin-bottom: 1%;
	float: right;
}
.headimglist table tr{
	height: 16.6%;
}
.headimglist img{
	vertical-align: middle;
	border-radius: 10px;
	height: 50%;
}

.pageControl{ /*div*/
	position: relative;
	height: 12%;
	width: 95%;
	text-align:center;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 3px;
}

.pageControl span{
	vertical-align: middle;
	color: #FFF;
	font-size: 16px;
}

.pageControlImg{
	width: 15%;
}

#random{
	float: right;
}

.footerdiv{
	position: relative;
	height: 7%;
}
.footer { /*页脚*/
	position: relative;
	height: auto;
	width: 90%;
	margin-top: 2%
}





@media screen and (max-height:300px){
	.songimg,.pageControl,.headimglist{ /*歌单图片*/
		display: none;
	}
	.searchBox{
		margin-top: 15%;
	}
}